<div class="user-details">
    <h1>About Me</h1>
    <p>{{ site.user_description }}</p>
    <p>I have worked on many projects over the years, some have unfortunately been lost, but many can be found
        below. Feel free to take a look! :)</p>
</div>
<div class="column">
    <div class="user">
        <div class="tech">
            <h2>Code</h2>
            <img src="assets/images/react.svg" alt="react">
            <img src="assets/images/csharp.svg" alt="csharp">
            <img src="assets/images/java.svg" alt="java">
            <p>I have a vast experience of many different coding languages and I continue to learn more each day. Some
                of these include React, C#, Java, C++, C, Python, Ruby On Rails, TypeScript, PHP</p>
        </div>
        <div class="tech">
            <h2>Tools</h2>
            <img src="assets/images/git.svg" alt="git">
            <img src="assets/images/jetbrains.svg" alt="jetbrains">
            <img src="assets/images/ubuntu.svg" alt="ubuntu">
            <p>I have learned many tools to help me code and work in the programming field over many years. Some of
                these include Git, JetBrains' IDEs, Linux/Ubuntu, Fish shell, and Terminus terminal. If you know of some
                awesome tools feel free to contact me. I love learning new tools!</p>
        </div>
        <div class="tech">
            <h2>Art, Film, & Games</h2>
            <img src="assets/images/illustrator.svg" alt="illustrator">
            <img src="assets/images/premiere.svg" alt="premiere">
            <img src="assets/images/unity.svg" alt="adobe">
            <p>Not only do I code, but I also love graphic design, film, and making games! I use Adobe Illustrator for
                doing graphic design, Adobe Premiere for film making, and Unity3D for making games.</p>
        </div>
    </div>
</div>
