<a href="https://austingenereeve.itch.io/one-true-door" target="_blank" class="project">
    <img src="../assets/images/projects/game-jam.png" alt="restart-film">
    <div class="content">
        <div class="row">
            <img src="assets/images/unity.svg" alt="adobe">
            <h1>One True Door</h1>
        </div>
        <p>Unity3D Game Jam Project</p>
        <div class="description">
            Worked in a team of 3 developers to create a game from scratch for a week long game jam competition.
        </div>
    </div>
</a>
<a href="https://youtu.be/HiHaj49vWdU" target="_blank" class="project">
    <img src="../assets/images/projects/restart-film.png" alt="restart-film">
    <div class="content">
        <div class="row">
            <h1>Restart</h1>
            <img src="assets/images/premiere.svg" alt="csharp">
        </div>
        <p>Moonshiver Film Festival Winner</p>
        <div class="description">
            Awarded first place in a film competition of over 30 other film entries in Moonshiver film festival competition.
            Lead every step of film creating process.
        </div>
    </div>
</a>
<div class="project">
    <img src="../assets/images/projects/hollabu.png" alt="hollabu">
    <div class="content">
        <div class="row">
            <img src="assets/images/twitch.svg" alt="csharp">
            <h1>Hollabu</h1>
        </div>
        <p>Twitch Stream</p>
        <div class="description">
            Helped build a community to gain over 60 paid monthly subscribers, 300 followers, and 3500 viewers in just
            under 2 months.
        </div>
    </div>
</div>
