<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
      <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
      <script>
        window.location.replace("https://austingenereeve.itch.io/one-true-door")
      </script>
    </head>
</html>
